<section class="first-part">
    <div class="header-container">
        <h2>Music</h2>
    </div>
</section>
<div class="second-part">
    <div class="white-background-only-purpose">
        <div></div>
    </div>
    <div class="second-row"></div>
    <div class="paragraph">
        <p>
            I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or double
            click
            me to add your own content and make changes to the font.
        </p>
    </div>
    <div class="music-share">
        <p>get it now</p>
        <div class="icons">
            <ul class="icons-ul">
                <li id="dataItem-kbhlwnpr5-comp-kbhlwnli" class="_3p8WF"><a data-testid="linkElement"
                        href="http://www.spotify.com" target="_blank" rel="nofollow noopener" class="kuaV4">
                        <div id="img_0_comp-kbhlwnli" class="rca7A _3SX5h"
                            data-image-info="{&quot;containerId&quot;:&quot;dataItem-kbhlwnpr5-comp-kbhlwnli&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;10bbba8f32454a8ba9358c575f2bc74c.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                            data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false"
                            data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
                            data-src="https://static.wixstatic.com/media/10bbba8f32454a8ba9358c575f2bc74c.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/10bbba8f32454a8ba9358c575f2bc74c.webp">
                            <img alt="Spotify" style="width: 35px; height: 35px; object-fit: cover;"
                                src="https://static.wixstatic.com/media/10bbba8f32454a8ba9358c575f2bc74c.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/10bbba8f32454a8ba9358c575f2bc74c.webp">
                        </div>
                    </a></li>
                <li id="dataItem-kbhlwnpn1-comp-kbhlwnli" class="_3p8WF"><a data-testid="linkElement"
                        href="http://tidal.com" target="_blank" rel="nofollow noopener" class="kuaV4">
                        <div id="img_1_comp-kbhlwnli" class="rca7A _3SX5h"
                            data-image-info="{&quot;containerId&quot;:&quot;dataItem-kbhlwnpn1-comp-kbhlwnli&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;010af57ab97845e291fb36aee120940a.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                            data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false"
                            data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
                            data-src="https://static.wixstatic.com/media/010af57ab97845e291fb36aee120940a.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/010af57ab97845e291fb36aee120940a.webp">
                            <img alt="Tidal" style="width: 35px; height: 35px; object-fit: cover;"
                                src="https://static.wixstatic.com/media/010af57ab97845e291fb36aee120940a.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/010af57ab97845e291fb36aee120940a.webp">
                        </div>
                    </a></li>
                <li id="dataItem-kbhlwnpq-comp-kbhlwnli" class="_3p8WF"><a data-testid="linkElement"
                        href="https://soundcloud.com" target="_blank" rel="nofollow noopener" class="kuaV4">
                        <div id="img_2_comp-kbhlwnli" class="rca7A _3SX5h"
                            data-image-info="{&quot;containerId&quot;:&quot;dataItem-kbhlwnpq-comp-kbhlwnli&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;03ea2af965014a3eb32df628a4c18c0e.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                            data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false"
                            data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
                            data-src="https://static.wixstatic.com/media/03ea2af965014a3eb32df628a4c18c0e.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/03ea2af965014a3eb32df628a4c18c0e.webp">
                            <img alt="SoundCloud" style="width: 35px; height: 35px; object-fit: cover;"
                                src="https://static.wixstatic.com/media/03ea2af965014a3eb32df628a4c18c0e.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/03ea2af965014a3eb32df628a4c18c0e.webp">
                        </div>
                    </a></li>
                <li id="dataItem-kbhlwnpq2-comp-kbhlwnli" class="_3p8WF"><a data-testid="linkElement"
                        href="http://www.bandcamp.com" target="_blank" rel="nofollow noopener" class="kuaV4">
                        <div id="img_3_comp-kbhlwnli" class="rca7A _3SX5h"
                            data-image-info="{&quot;containerId&quot;:&quot;dataItem-kbhlwnpq2-comp-kbhlwnli&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;632f37aff80844ddbd871b514249d2d3.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                            data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false"
                            data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
                            data-src="https://static.wixstatic.com/media/632f37aff80844ddbd871b514249d2d3.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/632f37aff80844ddbd871b514249d2d3.webp">
                            <img alt="Bandcamp" style="width: 35px; height: 35px; object-fit: cover;"
                                src="https://static.wixstatic.com/media/632f37aff80844ddbd871b514249d2d3.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/632f37aff80844ddbd871b514249d2d3.webp">
                        </div>
                    </a></li>
                <li id="dataItem-kbhlwnpr1-comp-kbhlwnli" class="_3p8WF"><a data-testid="linkElement"
                        href="https://www.deezer.com" target="_blank" rel="nofollow noopener" class="kuaV4">
                        <div id="img_4_comp-kbhlwnli" class="rca7A _3SX5h"
                            data-image-info="{&quot;containerId&quot;:&quot;dataItem-kbhlwnpr1-comp-kbhlwnli&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;c955ffefd31e464d8a72e550ad85ddea.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                            data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false"
                            data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
                            data-src="https://static.wixstatic.com/media/c955ffefd31e464d8a72e550ad85ddea.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/c955ffefd31e464d8a72e550ad85ddea.webp">
                            <img alt="Deezer" style="width: 35px; height: 35px; object-fit: cover;"
                                src="https://static.wixstatic.com/media/c955ffefd31e464d8a72e550ad85ddea.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/c955ffefd31e464d8a72e550ad85ddea.webp">
                        </div>
                    </a></li>
                <li id="dataItem-kbhlwnpr7-comp-kbhlwnli" class="_3p8WF"><a data-testid="linkElement"
                        href="http://www.apple.com/apple-music" target="_blank" rel="nofollow noopener" class="kuaV4">
                        <div id="img_5_comp-kbhlwnli" class="rca7A _3SX5h"
                            data-image-info="{&quot;containerId&quot;:&quot;dataItem-kbhlwnpr7-comp-kbhlwnli&quot;,&quot;displayMode&quot;:&quot;fill&quot;,&quot;imageData&quot;:{&quot;width&quot;:200,&quot;height&quot;:200,&quot;uri&quot;:&quot;f26666d80a564bd1962e4fcb4e0eb376.png&quot;,&quot;displayMode&quot;:&quot;fill&quot;}}"
                            data-has-bg-scroll-effect="" data-bg-effect-name="" data-is-svg="false"
                            data-is-svg-mask="false" data-image-zoomed="" data-has-ssr-src=""
                            data-src="https://static.wixstatic.com/media/f26666d80a564bd1962e4fcb4e0eb376.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/f26666d80a564bd1962e4fcb4e0eb376.webp">
                            <img alt="Apple Music" style="width: 35px; height: 35px; object-fit: cover;"
                                src="https://static.wixstatic.com/media/f26666d80a564bd1962e4fcb4e0eb376.png/v1/fill/w_35,h_35,al_c,q_85,usm_0.66_1.00_0.01/f26666d80a564bd1962e4fcb4e0eb376.webp">
                        </div>
                    </a></li>
            </ul>
        </div>
    </div>
</div>