<section class="third-part">
    <div class="container">
        <div class="title">
            <h2>merch</h2>
        </div>
        <div class="paragraph">
            <div>
                <p>I'm a paragraph. Click here to add your own text and edit me. It’s easy. Just click “Edit Text” or
                    double click me to add your own content and make changes to the font.</p>
            </div>
            <div class="link-container">
                <a href="">
                    <span>get merch</span>
                </a>
            </div>
        </div>
        <div class="first-image">
            <div id="img-comp-kb7k0gvm"
                data-image-info="{&quot;containerId&quot;:&quot;comp-kb7k0gvm&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;parallaxSpeed&quot;:1.5,&quot;sourceSets&quot;:[],&quot;imageData&quot;:{&quot;uri&quot;:&quot;503ea4_06d97d0018414cb3ba4bd75f79401b94~mv2.jpg&quot;,&quot;width&quot;:2763,&quot;height&quot;:2772,&quot;alt&quot;:&quot;A sweatshirt&quot;,&quot;focalPoint&quot;:null}}"
                data-has-ssr-src=""
                data-src="https://static.wixstatic.com/media/503ea4_06d97d0018414cb3ba4bd75f79401b94~mv2.jpg/v1/fill/w_587,h_574,al_c,q_80,usm_0.66_1.00_0.01/503ea4_06d97d0018414cb3ba4bd75f79401b94~mv2.webp">
                <picture><img
                        src="https://static.wixstatic.com/media/503ea4_06d97d0018414cb3ba4bd75f79401b94~mv2.jpg/v1/fill/w_587,h_574,al_c,q_80,usm_0.66_1.00_0.01/503ea4_06d97d0018414cb3ba4bd75f79401b94~mv2.webp"
                        alt="A sweatshirt" style="object-fit: cover; object-position: 50% 50%; width: 100%;"></picture>
            </div>
        </div>
        <div class="first-image-title image-title">
            <p>sweatshirts</p>
        </div>
        <div class="second-image">
            <div id="img-comp-kb7kp47f"
                data-image-info="{&quot;containerId&quot;:&quot;comp-kb7kp47f&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;parallaxSpeed&quot;:1.5,&quot;sourceSets&quot;:[],&quot;imageData&quot;:{&quot;uri&quot;:&quot;503ea4_f5fbccc0050d42869bc3fa2bfb9e21c8~mv2.jpg&quot;,&quot;width&quot;:2000,&quot;height&quot;:2000,&quot;alt&quot;:&quot;Cap Hat&quot;,&quot;focalPoint&quot;:null}}"
                data-has-ssr-src=""
                data-src="https://static.wixstatic.com/media/503ea4_f5fbccc0050d42869bc3fa2bfb9e21c8~mv2.jpg/v1/fill/w_587,h_574,al_c,q_80,usm_0.66_1.00_0.01/503ea4_f5fbccc0050d42869bc3fa2bfb9e21c8~mv2.webp">
                <picture><img
                        src="https://static.wixstatic.com/media/503ea4_f5fbccc0050d42869bc3fa2bfb9e21c8~mv2.jpg/v1/fill/w_587,h_574,al_c,q_80,usm_0.66_1.00_0.01/503ea4_f5fbccc0050d42869bc3fa2bfb9e21c8~mv2.webp"
                        alt="Cap Hat" style="object-fit: cover; object-position: 50% 50%; width: 100%;"></picture>
            </div>
        </div>
        <div class="second-image-title image-title">
            <p>cap hats</p>
        </div>

        <div class="third-image">
            <div id="img-comp-kb7kqhzp"
                data-image-info="{&quot;containerId&quot;:&quot;comp-kb7kqhzp&quot;,&quot;alignType&quot;:&quot;center&quot;,&quot;parallaxSpeed&quot;:1.5,&quot;sourceSets&quot;:[],&quot;imageData&quot;:{&quot;uri&quot;:&quot;503ea4_c3162699fdc54aaeaaa35ec02a9882ce~mv2.jpg&quot;,&quot;width&quot;:2500,&quot;height&quot;:2500,&quot;alt&quot;:&quot;Vinyl Cover Art&quot;,&quot;focalPoint&quot;:null}}"
                data-has-ssr-src=""
                data-src="https://static.wixstatic.com/media/503ea4_c3162699fdc54aaeaaa35ec02a9882ce~mv2.jpg/v1/fill/w_587,h_574,al_c,q_80,usm_0.66_1.00_0.01/503ea4_c3162699fdc54aaeaaa35ec02a9882ce~mv2.webp">
                <picture><img
                        src="https://static.wixstatic.com/media/503ea4_c3162699fdc54aaeaaa35ec02a9882ce~mv2.jpg/v1/fill/w_587,h_574,al_c,q_80,usm_0.66_1.00_0.01/503ea4_c3162699fdc54aaeaaa35ec02a9882ce~mv2.webp"
                        alt="Vinyl Cover Art" style="object-fit: cover; object-position: 50% 50%; width: 100%;">
                </picture>
            </div>
        </div>
        <div class="third-image-title image-title">
            <p>CD'S & VINYLS</p>
        </div>
    </div>
</section>