/* You can add global styles to this file, and also import other style files */
:root {
    --heading-font: poppins, sans-serif;
    --text-font: helvetica, sans-serif;

    // colors
    --black-color: rgb(25,25,25);
    --purple-color: rgb(114, 46, 239);
    --white-color: rgb(255, 249, 246);
}
